<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}
<head>
  <title>formerce</title>
  <meta charset="UTF-8">
  <style>
    h1 {
      text-align: center;
      background-color: rgba(211, 179, 0, 0.648);
    }
    #author {
      text-align: center;
    }
    table, th, td {
      background-color: antiquewhite;
      border: 1px solid;
    }
    #product_desc{
      text-align: justify;
    }
    #product_name{
      text-align: center;
    }
    .center{
      margin-left: auto;
      margin-right: auto;
    }
    
  </style>
</head>

<body>
  <h1><u>{{ project_name }}</u></h1>
  <p id="author">{{ name }} ----- {{ class }}</p>

  <h3>{{ user.username }}'s Products:</h3>

  {% if not product_entries %}
  <p>Belum ada product yang terdaftar.</p>
  {% else %}
  <table class="center">
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Description</th>
    </tr>

    {% for product_entry in product_entries %}
    <tr>
      <td id="product_name">{{product_entry.name}}</td>
      <td>Rp{{product_entry.price}}</td>
      <td id="product_desc">{{product_entry.description}}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <br />

  <a href="{% url 'main:create_product_entry' %}">
    <button>Add New Product</button>
  </a>

  <a href="{% url 'main:logout' %}">
    <button>Logout</button>
  </a>

  <h5>Sesi terakhir login: {{ last_login }}</h5>

</body>
{% endblock content %}